<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{36}] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress chatty framework output -->
    <logger name="io.javalin"          level="WARN"/>
    <logger name="org.eclipse.jetty"   level="WARN"/>
    <logger name="com.zaxxer.hikari"   level="WARN"/>
    <logger name="freemarker"          level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
